###Â Milestone 2 Task 6

In [1]:
import boto3
import pandas as pd
from data_extraction import DataExtractor
from data_cleaning import DataCleaning
from database_utils import DatabaseConnector

In [2]:
# Extract product information from s3 address and return a pandas DataFrame

# extractor = DataExtractor()
# s3_path = "s3://data-handling-public/products.csv"
# products_df = extractor.extract_from_s3(s3_path)
# #print(products_df)
# products_df.to_csv('products.csv', index=False)

In [3]:
products_df = pd.read_csv('products.csv')

In [4]:
products_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1853 entries, 0 to 1852
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     1853 non-null   int64
 1   product_name   1849 non-null   object
 2   product_price  1849 non-null   object
 3   weight         1849 non-null   object
 4   category       1849 non-null   object
 5   EAN            1849 non-null   object
 6   date_added     1849 non-null   object
 7   uuid           1849 non-null   object
 8   removed        1849 non-null   object
 9   product_code   1849 non-null   object
dtypes: int64(1), object(9)
memory usage: 144.9+ KB

In [5]:
# Create an instance of the DataCleaning class
cleaner = DataCleaning(products_df)
# Convert the product weights into kg
clean_1_products_df = cleaner.convert_product_weights()

Initiating weight conversion for 'weight' column.
Weight conversion for 'weight' column complete.

In [6]:
clean_1_products_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1853 entries, 0 to 1852
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     1853 non-null   int64
 1   product_name   1849 non-null   object
 2   product_price  1849 non-null   object
 3   weight         1846 non-null   float64
 4   category       1849 non-null   object
 5   EAN            1849 non-null   object
 6   date_added     1849 non-null   object
 7   uuid           1849 non-null   object
 8   removed        1849 non-null   object
 9   product_code   1849 non-null   object
dtypes: float64(1), int64(1), object(8)
memory usage: 144.9+ KB

In [7]:
# Clean the 'products_df'
clean2_products_df = cleaner.clean_products_data()

Commencing DataFrame cleaning.
DataFrame has now been cleaned.

In [8]:
clean2_products_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1846 entries, 0 to 1852
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   product_name   1846 non-null   object
 1   product_price  1846 non-null   object
 2   weight         1846 non-null   float64
 3   category       1846 non-null   object
 4   EAN            1846 non-null   object
 5   date_added     1846 non-null   object
 6   uuid           1846 non-null   object
 7   removed        1846 non-null   object
 8   product_code   1846 non-null   object
dtypes: float64(1), object(8)
memory usage: 144.2+ KB

In [9]:
# Now let's initialise the engine that we will upload our DataFrame to

# Create an instance of the DatabaseConnector class
database = DatabaseConnector()
# We will set the 'yaml_file_path' to ensure the connection is made to the upload database engine
upload_engine = database.init_db_engine(yaml_file_path='rds_upload_db_creds.yaml')

# Upload 'clean2_products_df' to our initialised engine
database.upload_to_db(clean2_products_df, table_name='dim_products')

Called 'init_db_engine' method for database engine initialisation.
Read credentials from rds_upload_db_creds.yaml
Database credentials now stored in 'credentials' variable.
Database engine initialised successfully with the credentials in rds_upload_db_creds.yaml.
Data uploaded to the 'dim_products' table successfully.